# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [24]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [239]:
df_info = pd.DataFrame()
df_marks = pd.DataFrame()
info = "Students_info_"     # File names of tables 
marks = "Students_marks_"   #

for i in range(10):
    df_info = pd.concat([df_info, pd.read_csv(f"./Data/{info}{i}.csv")])    # Concatenating extracted data frames 
    df_marks = pd.concat([df_marks, pd.read_csv(f"./Data/{marks}{i}.csv")]) # into corresponding tables 

df = pd.merge(df_info, df_marks, on="index") # merging tables by corresponding indexes 

print(df[98:103])

     index  gender race/ethnicity parental level of education         lunch  \
98      98  female        group D                some college  free/reduced
99      99  female        group D           bachelor's degree      standard
100    100    male        group B                some college      standard
101    101    male        group D           bachelor's degree      standard
102    102  female        group D          associate's degree      standard

    test preparation course   group  math score  reading score  writing score
98                     none  group1          58             67             62
99                     none  group1          65             67             62
100                    none  group2          79             67             67
101               completed  group2          68             74             74
102                    none  group2          85             91             89

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [240]:
df.drop("index", axis=1, inplace=True) # added inplace, to apply changes to table
print(df[:10])

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [241]:
print(f"Количество колонок:\t {df.shape[1]}")
print(f"Количество строк:\t {df.shape[0]}")
print(f"Количество ячеек:\t {df.size}")

Количество колонок:	 9
Количество строк:	 1000
Количество ячеек:	 9000

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [242]:
# all set to_string() to prevent "dtype: ..." line from being printed
print(f"Минимум:\n{df.min(numeric_only=True).to_string()}\n")
print(f"Максимум:\n{df.max(numeric_only=True).to_string()}\n")
print(f"Среднее значение:\n{df.mean(numeric_only=True).to_string()}\n")
print(f"Стандартное отклонение:\n{df.std(numeric_only=True).to_string()}\n")

print("Я не знаю, что конкретно от нас требовалось, так что вот вариант c df.describe():")
print(df.describe().T[["min", "max", "mean", "std"]])

Минимум:
math score        0
reading score    17
writing score    10

Максимум:
math score       100
reading score    100
writing score    100

Среднее значение:
math score       66.089
reading score    69.169
writing score    68.054

Стандартное отклонение:
math score       15.163080
reading score    14.600192
writing score    15.195657

Я не знаю, что конкретно от нас требовалось, так что вот вариант c df.describe():
                min    max    mean        std
math score      0.0  100.0  66.089  15.163080
reading score  17.0  100.0  69.169  14.600192
writing score  10.0  100.0  68.054  15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [243]:
print(df.isnull().values.any()) # False - нет пропущенных значений

False

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [244]:
cols = ["math score", "reading score", "writing score"]
print(df[cols].mean().to_string())
# print(df[cols].T.mean()) # Эта строчка печатает среднее по трём предметам для каждого студента

math score       66.089
reading score    69.169
writing score    68.054

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [245]:
select = df["test preparation course"] == "completed" # our selection of rows of students, who completed prep. course
for c in cols:
    print(c.capitalize())
    print(f"Прошедшие: {df[select][c].mean()}")
    print(f"Пропустившие: {df[select.__invert__()][c].mean()}") # could have used == False :)
    print()

Math score
Прошедшие: 69.69553072625699
Пропустившие: 64.0778816199377

Reading score
Прошедшие: 73.89385474860335
Пропустившие: 66.53426791277259

Writing score
Прошедшие: 74.41899441340782
Пропустившие: 64.50467289719626

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [246]:
print(*df["lunch"].unique(), sep="\n")

standard
free/reduced

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [247]:
df.rename(columns={"test preparation course" : "test preparation", "parental level of education" : "education"}, inplace=True)
print(*df.columns, sep=" | ")

gender | race/ethnicity | education | lunch | test preparation | group | math score | reading score | writing score

**Зафиксируем минимальный балл для сдачи экзамена**

In [248]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [249]:
mark = df["math score"] > passmark # успешная сдача
course = df["test preparation"] == "completed" # прошедшие курсы
women = (df["gender"] == "female") * (course == False) # не прошедшие курс женщины

print(f'1. Среди всех:                      {round(mark.sum() / len(df) * 100,1)}%')
print(f'2. Среди прошедших курс:            {round((mark * course).sum() / course.sum() * 100,1)}%')
print(f'3. Среди женщин не прошедших курс:  {round(((mark == False) * women).sum() / women.sum() * 100,1)}%')

1. Среди всех:                      85.0%
2. Среди прошедших курс:            90.8%
3. Среди женщин не прошедших курс:  23.4%

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [289]:
%%timeit -n 1 -r 1 # Провожу измерение один раз, чтобы не засорять вывод принтами

# %%timeit  # \
# %%capture # / Правильный вариант проведения измерений, который также предотвращает вывод 

print("Средний балл за чтение по этическим группам: ")
print(df.groupby("race/ethnicity")["reading score"].mean().to_string())
print("\nМинимальный балл за экзамен по письму по уровням образования: ")
print(df.groupby("education")["writing score"].min().to_string())
print("\nВремя исполнения: ", end=" ")

Средний балл за чтение по этическим группам:
race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571

Минимальный балл за экзамен по письму по уровням образования:
education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10

Время исполнения:  4.25 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [288]:
%%timeit -n 1 -r 1 # Провожу измерение один раз, чтобы не засорять вывод принтами

# %%timeit  
# %%capture

groups_eth = df["race/ethnicity"].unique()
groups_edu = df["education"].unique()


print("Средний балл за чтение по этическим группам: ")
for g in groups_eth:
    print(g, "\t", df[df["race/ethnicity"] == g]["reading score"].mean())
print("\nМинимальный балл за экзамен по письму по уровням образования: ")
for g in groups_edu:
    print("{:<20}".format(g), df[df["education"] == g]["writing score"].min())
print("\nВремя исполнения: ", end=" ")

Средний балл за чтение по этическим группам:
group B 	 67.35263157894737
group C 	 69.10344827586206
group A 	 64.67415730337079
group D 	 70.03053435114504
group E 	 73.02857142857142

Минимальный балл за экзамен по письму по уровням образования:
bachelor's degree    38
some college         19
master's degree      46
associate's degree   35
high school          15
some high school     10

Время исполнения:  15.4 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [300]:
pd.pivot_table(df, index=["gender", "education"]) # default aggregation function is already np.mean

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [322]:
for col in cols:
    s = col.split()[0].capitalize()
    name = f"{s}_PassStatus"
    df[name] = "F"
    df.loc[df[col] > passmark, name] = "P"
    print(f"{s} pass count: {(df[col] > passmark).sum()}")
print()
print(df[df.columns[-6:]][:5])

Math pass count: 850
Reading pass count: 903
Writing pass count: 876

   math score  reading score  writing score Math_PassStatus  \
0          72             72             74               P
1          69             90             88               P
2          90             95             93               P
3          47             57             44               F
4          76             78             75               P

  Reading_PassStatus Writing_PassStatus
0                  P                  P
1                  P                  P
2                  P                  P
3                  P                  F
4                  P                  P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [331]:
name = "OverAll_PassStatus"
df[name] = "F"
df.loc[(df[cols] > 50).all(axis=1), name] = "P"
print(df[df.columns[-4:]][:10])

  Math_PassStatus Reading_PassStatus Writing_PassStatus OverAll_PassStatus
0               P                  P                  P                  P
1               P                  P                  P                  P
2               P                  P                  P                  P
3               F                  P                  F                  F
4               P                  P                  P                  P
5               P                  P                  P                  P
6               P                  P                  P                  P
7               F                  F                  F                  F
8               P                  P                  P                  P
9               F                  P                  F                  F

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [360]:
def GetGrade(average_mark):
    conv = {90: "A", 80: "B", 70: "C", 60: "D", 50: "E"}
    for i in conv:
        if average_mark >= i:
            return conv[i] 
    return "F"

df["Grade"] = df[cols].mean(axis=1)
df["Grade"] = df["Grade"].apply(GetGrade)
print(df.groupby("Grade").size().to_string())

Grade
A     52
B    146
C    261
D    256
E    182
F    103